#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

div.App {
  margin: 0 auto;
  display: flex;
  max-width: 560px;
  flex-direction: column;
  align-items: center;
}

